.shadow-bg {
    -webkit-box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.15);
  }

  .green-gradient-bg {
    background: white;
    background: linear-gradient(
      80deg,
      rgba(255, 255, 255, 1) 60%,
      rgba(233, 242, 242, 1) 75%
    );
  }